<div class="brand-image-section">
  {%- if section.settings.image != blank -%}
    <img src="{{ section.settings.image | image_url: width: 800 }}" alt="Simple Image Section" />
  {%- else -%}
    <p>No image selected</p>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Brand Image Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Brand Image Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
