<section class="custom-product-slider-section">
    {%- if section.settings.title != blank -%}
        <h2 class="title product-slider-title scroll-trigger animate--slide-in">
            {{ section.settings.title }}
        </h2>
    {%- endif -%}
</section>
{% schema %}
{
  "name": "Product Slider",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured-collection.settings.title.default",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    }
  ],
  "presets": [
    {
      "name": "Product Slider"
    }
  ]
}
{% endschema %}
