
/* Mobile to tab */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .login-row .customer:not(.account):not(.order), .contact.contact-form-box {
        max-width: 100%;
        margin: 30px 30px;
    }
    .login-button-block {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        margin: 24px 0 32px;
        flex-direction: column;
    }
    .faq-filter-mobile{
        display: none;
    }
    .faq-filter-desktop{
        display: flex;
    }
}

/* Mobile screen */
@media screen and (max-width: 767px) {
    .login-row .customer:not(.account):not(.order) , .contact.contact-form-box {
        max-width: 100%;
        margin: 32px 16px;
    }
    .login-button-block {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        margin: 24px 0 32px;
        flex-direction: column;
    }
    .login-right-box{
        border: 0px;
    }
    .text-center-mobile{
        text-align: center;
    }
    .login-left-img img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: top;
        height: 100%; 
        max-height: 320px;
    }
    .faq-filter-mobile{
        display: block;
        width: 100%;
        padding: 12px 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.42px;
        font-family: 'rival-sans';
        border: 1px solid var(--Rich-Black, #000);
        margin-bottom: 8px;
    }
    .faq-filter-desktop{
        display: none;
    }
    
}

