.login-left-img img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.login-row{
    background: var(--Cobalt-ligther, #E7EAEB);
}

h1{
    font-family: "TAN - MON CHERI";
}

.customer:not(.account):not(.order){
    text-align: left;
    padding: 0px;
}

.field__input, .select__select, .customer .field input, .customer select{
    background-color: transparent;
}

.field label {
    font-style: italic;
}