/* Login page css */
.login-left-img img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.login-row{
    background: var(--Cobalt-ligther, #E7EAEB);
}

.customer:not(.account):not(.order){
    text-align: left;
    padding: 0px;
}
.field__input, .select__select, .customer .field input, .customer select{
    background-color: transparent;
}
.field label {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}
.field__input:focus, .field__input:not(:placeholder-shown), .field__input:-webkit-autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill {
    padding: 1rem 1.5rem;
    margin: var(--inputs-border-width);
}
.field__input:focus~.field__label, .field__input:not(:placeholder-shown)~.field__label, .field__input:-webkit-autofill~.field__label, .customer .field input:focus~label, .customer .field input:not(:placeholder-shown)~label, .customer .field input:-webkit-autofill~label {
    font-size: 1rem;
    top: calc(var(--inputs-border-width) + .5rem);
    left: calc(var(--inputs-border-width) + 2rem);
    letter-spacing: .04rem;
    display: none;
}
.field__input, .customer .field input {
    flex-grow: 1;
    text-align: left;
    padding: 1rem 1.5rem;
    margin: var(--inputs-border-width);
    transition: box-shadow var(--duration-short) ease;
}
.login-row h1 {
    text-align: left;
}
.customer form {
    margin-top: 32px;
}
.login-button-block {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    margin: 24px 0px 32px 0px;
}
.login-button-block button {
    margin: 0px !important;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 18px;
}

.login a[href="#recover"] {
    color: var(--Cobalt-grey, #53575A);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
}
.login a {
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-decoration: none;
}
a.btn-create-cta {
    border: 1px solid var(--Rich-Black, #000);
    width: 100% !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 18px;
    line-height: normal
}

.login-row button:after, .login-row button:before {
    display: none;
}
.login-row button, .customer.reset-password button {
    text-transform: uppercase;
}
.login-row button:hover, .customer.reset-password button:hover{
    background: var(--Cobalt-grey, #53575A);
    color: var(--White, var(--colours-bw-white, #FFF));
}

.login-row {
    display: flex;
    align-items: stretch; /* Ensure children stretch to the same height */
}
  
.login-right-box {
border: 1px solid #000;
background: var(--Cobalt-ligther, #E7EAEB);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center; /* Center content vertically */
}

.login-right-box .customer:not(.account):not(.order) {
    margin: 0 120px;
}

.login-right-box p {
    text-align: left;
}
.customer.reset-password.section-template--23748688609618__main-padding {
    padding: 50px 0px 50px 0px;
}
.customer.reset-password:not(.account):not(.order) {
    max-width: max-content;
}
.h1{
    text-transform: uppercase;
}
.login-row .customer:not(.account):not(.order) {
    max-width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .login-row .customer:not(.account):not(.order) {
        max-width: 100%;
        margin: 0px 30px;
    }
}

@media screen and (max-width: 767px) {
    .login-row .customer:not(.account):not(.order) {
        max-width: 100%;
        margin: 32px 16px;
    }
}

